

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*--------------------------------------------
                1.  Typhography
---------------------------------------------*/

*{
    margin: 0;
    padding: 0;
}

body{
   font-family: 'Montserrat', sans-serif;
}
:root{
    --poppins: "Poppins", sans-serif;
    --montserrat: "Montserrat", sans-serif;
    --ag: #39b54a;
}

h2{
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5;
}
ul{
    list-style: none;
    margin: 0 !important;
    padding: 0;
}

a{
    text-decoration: none !important;
    display: inline-block;
}

img{
    max-width: 100%;
}

button:focus{
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
p{
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
}
.section-padding{
    padding: 100px;
}
.sec-title{

}
.sec-title h2 {
    
}
.sec-title p {
    font-size: 24px;
    line-height: 32px;
}
.d-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.bg-img{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.np{
    padding: 0 !important;
}
.nm{
    margin: 0 !important;
}

.page-btn-green {
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    border: 2px solid var(--ag);
    padding: 10px 20px;
    text-align: center;
    margin-right: 10px;
    font-family: var(--poppins);
    letter-spacing: 5px;
    display: inline-flex;
    justify-content: center;
    font-size: 14px;
    transition: 0.3s;
    background-color: var(--ag);
}
.page-btn-green:hover{
    border-color: #000;
    background: transparent;
}
.page-btn-white {
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    border: 2px solid #ffff;
    padding: 10px 20px;
    text-align: center;
    margin-right: 10px;
    font-family: var(--poppins);
    letter-spacing: 5px;
    display: inline-flex;
    justify-content: center;
    font-size: 14px;
    transition: 0.3s;
    background-color: #fff;
}
.left-padd{
    padding-left: 15px;
}
.right-padd{
    padding-right: 15px;
}
.pt-0{
    padding-top: 0;
}
.pb-0{
    padding-bottom: 0;
}

/*------------------------- BANNER AREA START -------------------------*/
.banner-area {
    background: url(img/2.jpg) no-repeat center;
    background-size: cover;
    POSITION: relative;
    z-index: 3;
}
section.header-area-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: 0.2s;
}
.header-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.header-area-wrapper.scrolled {
    background: #fff;
    box-shadow: -2px  0 9px rgba(0,0,0,0.5);
}
.header-area-wrapper .logo img {
    transition: 0.2s;
}
.header-area-wrapper.scrolled .logo img {
    filter: invert(1);
}
.header-area-wrapper.scrolled .menu-area a{
    color: #000;
}
.banner-area::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}
.menu-btn {
    background-color: transparent;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-size: 14px;
}
.menu-btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background-color: #fff;
    transition: 0.2s;
}
.menu-btn::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background-color: #fff;
    transition: 0.2s;
}
.menu-btn span {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--poppins);
    letter-spacing: 4px;
    color: var(--ag);
    transition: 0.2s;
}
.menu-btn:hover span{
    color: #fff;
}
.menu-btn:hover::before,
.menu-btn:hover::after,
.menu-btn:hover .bar{
    background-color: var(--ag);
}
.menu-btn:hover{
    color: #fff;
}
.menu-btn .bar{
    width: 20px;
    height: 2px;
    background-color: #fff;
    border-radius: 20px;
}
.banner-content-wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-content {
    padding-top: 50px;
}
.banner-content-wrapper span {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    color: #e1bfbf;
    font-size: 14px;
}
.banner-content-wrapper h2 {
    font-size: 60px;
    line-height: 1.4;
    margin-top: 0;
    color: #FFFFFF;
    font-weight: 800;
    padding: 5px 0 30px;
}
.banner-btns a {
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    border: 2px solid #ffff;
    padding: 10px 20px;
    text-align: center;
    margin-right: 10px;
    font-family: var(--poppins);
    letter-spacing: 5px;
    display: inline-flex;
    justify-content: center;
    font-size: 14px;
    transition: 0.3s;
    background-color: #fff;
}
.banner-btns a:nth-child(2){
    background-color: var(--ag);
    border-color: var(--ag);
}
.banner-btns a:hover{
    background-color: transparent;
    color: #fff;
}
.social-media ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.social-media a {
    border: 2px solid var(--ag);
    color: #fff;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-top: 10px;
    background: var(--ag);
    color: #ffffff;
    border: 2px solid var(--ag);
    transition: 0.2s;
}
.social-media a:hover{
    background-color: #fff;
    color: #000;
    border-color: #fff;
}
.social-media {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.header-area-wrapper .container-xxl,
.banner-area .container-xxl{
    max-width: 1520px;
}
.scroll-icon {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
}
.mouse-wrapper {
    width: 30px;
    height: 47px;
    border: 2px solid #fff;
    border-radius: 60px;
}
.mouse-scroller {
    width: 3px;
    height: 7px;
    background: #fff;
    border-radius: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    animation: bounce 1.5s infinite;
    animation-delay: 1s;
}
@keyframes bounce {
    0%{
        
    }
    100% {
        top: 20px;
        opacity: 0;
    }
}
.menu-area ul {
    display: flex;
    align-items: center;
}
.menu-area a {
    color: #fff;
    font-weight: 500;
    margin-left: 36px;
    transition: 0.1s;
}
.menu-area a:hover{
    color: #e1bfbf;
}
.menu-area li:last-child a {
    text-transform: uppercase;
    background: var(--ag);
    padding: 6px 20px;
    color: #000;
}
.menu-area li:last-child a:hover{
    background-color: #fff;
    color: #000;
}

/*------------------------- BANNER AREA END -------------------------*/

/*------------------------- BANNER ABOUT START -------------------------*/
section.about-area {
    padding: 100px 0;
}
.about-right p {
    padding: 15px 0 0px;
    font-weight: 500;
}
.counters {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-bottom: 30px;
    padding-top: 30px;
}
.single-counter b {
    color: var(--ag);
    font-size: 30px;
    display: block;
    font-weight: 500;
}
.single-counter span {
    display: block;
    font-size: 15px;
    font-weight: 500;
}
.about-left {
    display: grid;
    grid-template-columns: 44% 54%;
    grid-gap: 2%;
}
.about-left img{
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.about-left img:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
}
.about-left img:nth-child(3) {
    grid-column: 1/3;
    grid-row: 2/3;
    height: 200px;
}

/*------------------------- BANNER ABOUT END -------------------------*/

section.quality-area {
    padding-bottom: 100px;
}
.quality-left {
    text-align: right;
}
.quality-left p {
    padding: 15px 0 0px;
    font-weight: 500;
}
section.global-brand-area {
    padding: 100px 0;
}
.brand-left iframe {
    border: 0;
    width: 100%;
    height: 500px;
}
.brand-right h2{
    padding-bottom: 15px;
}
.brand-right p {
    font-weight: 500;
    padding-bottom: 15px;
}
.quality-right img {
    height: 520px;
    width: 100%;
    object-fit: cover;
}
.quote-img img {
    border-radius: 100%;
    width: 800px;
}
.quote-left {
    display: flex;
    background: var(--ag);
    border-radius: 500px;
    max-width: 1200px;
    margin: auto;
}
.quote-wrapper {
    padding: 30px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quote-wrapper p {
    font-weight: 500;
    padding-bottom: 10px;
    font-style: italic;
}

/* --------------------------------CONTACT START-------------------------------------- */

.contact-area{
    position: relative;
    background: #f5eaea;
}
.contact-area form {
    padding-top: 20px;
}
.contact-map {
    position: absolute;
    top: 0;
    right: 0;
    width: 48%;
    height: 100%;
}
.contact-map iframe {
    width: 100%;
    height: 100%;
}
.contact-from input,
.contact-from textarea {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    height: 50px;
    padding: 0 20px;
}
.contact-from input:focus,
.contact-from textarea:focus{
    outline: 1px solid #111;
}
.contact-from textarea {
    resize: none;
    height: 100px;
    padding: 15px 20px;
}
.contact-from input.page-btn-green {
    width: auto;
    border: 2px solid var(--ag)
}
.contact-from input.page-btn-green:hover{
    border-color: #000;
}
.contact-from h2 {
    padding-bottom: 15px;
}

/* -------------------------------FOOTER END------------------------------------ */

/* -------------------------------FOOTER STAR------------------------------------ */
.footer-top {
    background: #232323;
}
.footer-widget h4 {
    color: #fff;
    font-family: var(--poppins);
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
    padding-bottom: 20px;
}
.footer-widget ul li, .footer-widget ul li a {
    color: #d3b2b2;
    margin-bottom: 8px;
    font-size: 15px;
}
.footer-widget ul li a:hover{
    text-decoration: underline !important;
}
.footer-widget ul li b {
    display: block;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 6px;
}

.footer-contact li{
    margin-bottom: 30px !important;
}
.footer-logo.text-center {
    padding-bottom: 60px;
}
.footer-widget.footer-contact {
    padding-right: 67px;
}
ul.footer-social-media {
    display: flex;
}

ul.footer-social-media li a {
    width: 40px;
    height: 40px;
    border: 1px solid #d3b2b2;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
ul.footer-social-media li a:hover{
    background-color: #d3b2b2;
    text-decoration: none !important;
    color: #fff;
}
.copyright {
    background: #143536;
    padding: 20px;
}
.copyright p {
    color: #fff;
    font-size: 14px;
}

/* ----------------------------------FOOTER END------------------------------------ */


.other-page-header{
    background-color: #fff;
}
.other-page-header .logo img{
    filter: invert(1);
}
.other-page-header .menu-area a{
    color: #000;
}
.other-page-banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 100px 0;
    position: relative;
    z-index: 1;
}
.other-page-banner::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}
.blank-padd{
    height: 103px;
}
.other-page-banner-content h2 {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
}
.location-wrap b {
    display: block;
    font-size: 16px;
    padding: 6px 0 2px;
}
.location-wrap p {
    color: #7e5858;
}
.location-wrap span {
    font-size: 45px;
}
.contact-page-content {
    background: #ffeded;
    padding: 50px 40px;
    border-radius: 5px;
}
.contact-page-map-area {
    height: 100%;
}
.contact-page-map-area iframe{
    height: 100%;
}
.contact-page-area{
    padding-bottom: 100px;
}
.contact-page-area .contact-from p {
    padding: 0px 0 23px;
}
.highlight-content h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    /* font-family: var(--poppins); */
}
.highlight-content span {
    /* -webkit-text-fill-color: #000;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px; */
    background-color: var(--ag);
    padding: 0 10px;
}
/* section.highlight-text-area {
    background: #f7f7f7;
} */
.highlight-content{
    padding-left: 30px;
}
.section-title {
    padding-bottom: 70px;
}
.section-title h2 {
    display: inline-block;
    background: var(--ag);
    text-transform: uppercase;
    font-weight: 800;
    padding: 0 14px;
}
.production-process-content {
    position: relative;
}
/* .production-process-content::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: var(--ag);
    margin: auto;
}
.production-process-content li {
    width: 50%;
    text-align: right;
    padding-right: 40px;
    position: relative;
    padding-bottom: 50px;
}
.icon-wrap {
    border: 2px solid var(--ag);
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -25px;
    background: var(--ag);
}
.production-process-content li:nth-child(2n) .icon-wrap {
    left: -25px;
    right: unset;
}
.production-process-content li:nth-child(2n) {
    margin-left: auto;
    padding-left: 40px;
    padding-right: 0;
    text-align: left;
}

 */


 .production-process-content ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.production-process-content li {
    padding: 20px;
    border: 2px solid #ddd;
    position: relative;
    counter-increment: item;
}
.production-process-content li::before {
    content: "0"counter(item);
    position: absolute;
    right: -9px;
    top: -31px;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Poppins';
    background: #fff;
    color: #ddd;
    padding: 15px 0 0px 15px;
}
 .production-process-content h4 {
    font-weight: 700;
    padding: 10px 0 5px;
    font-size: 20px;
}
.production-process-content p {
    font-size: 15px;
    line-height: 1.5;
}
.icon-wrap span {
    font-size: 40px;
}

.testimonial-area{
    background-color: #f7f7f7;
}
.client-info img {
    width: 80px !important;
    border-radius: 100px;
}
.client-info {
    display: flex;
    align-items: center;
}
.client-info span{
    display: block;
    font-weight: 500;
    font-size: 15px;
}
.client-info div:last-child {
    padding-left: 12px;
}
.client-info b{
    font-size: 15px;
}
.single-testimonial {
    background: #fff;
    padding: 60px 30px 30px 30px;
    position: relative;
    border-radius: 4px;
}
.single-testimonial::before {
    content: '"';
    position: absolute;
    top: -11px;
    left: 25px;
    font-size: 100px;
    font-family: 'Poppins';
    opacity: 0.5;
}
.single-testimonial p {
    line-height: 1.5;
    padding-bottom: 20px;
    font-style: italic;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 15px;
}
.testimonial-content .owl-dot span {
    width: 16px;
    height: 16px;
    background: var(--ag);
    display: inline-block;
}
.testimonial-content .owl-dot{
    margin: 0 10px;
}
.owl-dots {
    text-align: center;
    padding-top: 40px;
}
.testimonial-content .owl-dot.active span {
    background: #b3ae27;
}
.mission-vision-content h4 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
}
.mission-vision-content p,
.mission-vision-content li {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;
}
.values li {
    padding-bottom: 20px;
}
.mission-vision-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}
.mission-vision-content div {
    background: #f7f7f7;
    padding: 25px;
}
.values {
    grid-column: 2/3;
    grid-row: 1/3;
}
.content-wrap h4 {
    font-weight: 600;
    padding-bottom: 10px;
}
.content-wrap p {
    font-size: 15px;
    line-height: 1.5;
    padding-bottom: 20px;
}
.content-wrap {
    padding-top: 40px;
}